body {
  background-image: url(./images/spacebackground.jpeg);
  background-size: cover;
}

.form-group {
  background-color: rgb(115, 68, 143);
  color: white;
}

.form-control {
  background-color: rgb(247, 241, 241);
  color: black;
}

.jumbotron {
  font-family: "Paytone One", sans-serif;
}
